<!-- Basic login page, nothing fancy-->

<!-- action is the location you want to send the form to-->
<!--Using a post method so we dont send out username and password into the url field -->
<form action="process.php" method="post">
    <input type="text" name="username" placeholder="Enter your username" required>
    <input type="password" name="password" placeholder="Enter your password" required>
    <!-- password type means the password comes out as dots instead of letters in the box-->
    <input type="submit" value="Submit">
</form>

<!-- Authentication credentials in plain text yee boi, good luck wiresharking this ;) -->
<p>Username: user</p>
<p>Password: pass</p>

<br>
<br><!-- Link back to home -->
<a href="../index.html">Home</a>